<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/338760936c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

<!-- Header -->

    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-logo-serch">
                    <img src="/images/logo-mercado-liebre.svg" class="logo">
                <div class="busqueda">
                    <input class="buscador" type="text" placeholder="Buscar productos">
                    <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="register.html">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="login.html">Ingresá <i class="fa-sharp fa-solid fa-right-from-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

<!-- Main -->

    <main>
        <form class="login_form" action="/" method="post">
            <h2 class="title-login">¡Hola! Ingresa tu usuario y contraseña</h2>
            <div class="container-login">
                <input type="text" name="user" placeholder="Nombre de usuari@">
                <input type="password" name="password" placeholder="Contraseña">
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </main>

<!-- Footer  -->

    <footer>
        <section class="sectionsFooter">
            <i class="fa-solid fa-credit-card icono-footer"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class="sectionsFooter">
            <i class="fa-solid fa-gift icono-footer"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="sectionsFooter">
            <i class="fa-solid fa-user-shield icono-footer"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
        <section>
            <p class="copyRight">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>